.App {
  font-family: sans-serif;
  text-align: center;
}
a {
  text-decoration: none;
  color: rgb(88, 151, 170);
  font-size: 20px;
  border: 1px solid #cecece;
}
ul {
  display: flex;
  justify-content: space-evenly;
}

.add-quiz-title-button {
  margin: 10px;
  border: none;
  padding: 10px 15px;
  color: #fff;
  font-family: Tahoma, sans-serif;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.green {
  background: #1f9528;
}

.blue {
  background: blue;
}

.purple {
  background: purple;
}

.add-title-quiz-input {
  padding: 12px;
  border: none;
  background: #dfdfdf;
  border-radius: 3px;
  position: relative;
  bottom: 1px;
}

.question {
  background: #fefad1;
  margin: 0 10px;
  border-radius: 5px;
  border: 1px dashed #cdcdcd;
}
